

<div class="row mt-2 mb-5 shadow">
  <div class="col-md-6 mt-5 mb-5" >
    <div class="chart-container">
      <canvas  id="MyChart2" >{{ chart2 }}</canvas>
    </div>
  </div>
  <div class="col-md-6 mt-5  mb-5" >
    <div class="chart-container">
      <canvas  id="MyChart1" >{{ chart1 }}</canvas>
    </div>
  </div>

</div>

<div class="container-fluid card shadow">
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Users</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bank customers</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bank accounts</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bank cards</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bank account types</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bank transactions</h5>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>





