<div class="container">
  <div class="card col-md-6 offset-3 mt-3 mb-3" *ngIf="newCustomerFormGroup">
    <div class="card-header">New customer :</div>
    <div class="text-bg-danger" *ngIf="error">
      <div class="bg-danger fw-bold" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
        <div  *ngIf="error.errors">
          <div class="text-bg-danger" *ngFor="let errorMessage of error.errors ">
            {{errorMessage}}
          </div>
        </div>
    </div>
    <form [formGroup]="newCustomerFormGroup" (ngSubmit)="onSaveCustomer()">
      <div class="card-body">
        <div class="row col-lg-12">
          <div class="mb-3 col-lg-6">
            <label class="form-label">First name : </label>
            <input type="text" formControlName="firstName" class="form-control">
            <!--   <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['firstName'].valid && newCustomerFormGroup.controls['firstName'].errors && newCustomerFormGroup.controls['firstName'].errors!['required']">name is required !!</span>
               <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['firstName'].touched && newCustomerFormGroup.controls['firstName'].errors && newCustomerFormGroup.controls['firstName'].errors!['maxlength']">max length is 10 !!</span>
               <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['firstName'].valid && newCustomerFormGroup.controls['firstName'].errors && newCustomerFormGroup.controls['firstName'].errors!['minlength']">min length is 4 !!</span>
             -->
          </div>
          <div class="mb-3 col-lg-6">
            <label class="form-label">Last name : </label>
            <input type="text" formControlName="lastName" class="form-control">
            <!--  <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['lastName'].valid && newCustomerFormGroup.controls['lastName'].errors && newCustomerFormGroup.controls['lastName'].errors!['required']">name is required !!</span>
              <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['lastName'].touched && newCustomerFormGroup.controls['lastName'].errors && newCustomerFormGroup.controls['lastName'].errors!['maxlength']">max length is 10 !!</span>
              <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['lastName'].valid && newCustomerFormGroup.controls['lastName'].errors && newCustomerFormGroup.controls['lastName'].errors!['minlength']">min length is 4 !!</span>
            </div>
            -->
          </div>

          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label">CIN: </label>
              <input type="text" formControlName="cin" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Birth date : </label>
              <input type="date" formControlName="birthDate" class="form-control">
            </div>
          </div>
          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label">Email :</label>
              <input type="text" formControlName="email" class="form-control">
              <!--     <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['email'].valid && newCustomerFormGroup.controls['email'].errors && newCustomerFormGroup.controls['email'].errors!['required']">email is required !!</span>
                   <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['email'].touched && newCustomerFormGroup.controls['email'].errors && newCustomerFormGroup.controls['email'].errors!['email']">not a valid email !!</span>
                 -->
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Phone number :</label>
              <input type="text" formControlName="phoneNumber" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Address :</label>
            <input type="text" formControlName="address" class="form-control">
            <!--
             <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['address'].valid && newCustomerFormGroup.controls['address'].errors && newCustomerFormGroup.controls['address'].errors!['required']">address is required !!</span>
             <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['address'].touched && newCustomerFormGroup.controls['address'].errors && newCustomerFormGroup.controls['address'].errors!['minlength']">min length is 10 !!</span>
           -->
          </div>
          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label">City :</label>
              <input type="text" formControlName="city" class="form-control">
              <!--  <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['city'].valid && newCustomerFormGroup.controls['city'].errors && newCustomerFormGroup.controls['city'].errors!['required']">city is required !!</span>
                <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['city'].touched && newCustomerFormGroup.controls['city'].errors && newCustomerFormGroup.controls['city'].errors!['minlength']">min length is 4!!</span>
                <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['city'].touched && newCustomerFormGroup.controls['city'].errors && newCustomerFormGroup.controls['city'].errors!['maxlength']">max length is 15 !!</span>
                -->
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Country :</label>
              <select formControlName="countryCode" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                <option value="MAR">MAR</option>
                <option value="FRA">FRA</option>
                <option value="USA">USA</option>
              </select>
              <!--
              <span class = "text-danger" *ngIf="!newCustomerFormGroup.controls['countryCode'].valid && newCustomerFormGroup.controls['countryCode'].errors && newCustomerFormGroup.controls['countryCode'].errors!['required']">country code is required !!</span>
              <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['countryCode'].touched &&newCustomerFormGroup.controls['countryCode'].errors && newCustomerFormGroup.controls['countryCode'].errors!['minlength']">length is 3 !!</span>
              <span class = "text-danger" *ngIf="newCustomerFormGroup.controls['countryCode'].touched &&newCustomerFormGroup.controls['countryCode'].errors && newCustomerFormGroup.controls['countryCode'].errors!['maxlength']">length is 3 !!</span>
           -->
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

