<div class="container">
  <div class="card col-md-6 offset-3 mt-3 mb-3  border-white .mx-auto shadow p-3 mb-5 bg-body rounded" *ngIf="newBankAccountFormGroup">
    <div class="h3 card-header bg-white text-info border-white fw-bold">NEW BANK ACCOUNT</div>
    <div class="text-bg-danger" *ngIf="error">
      <div class="bg-danger fw-bold" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div class="text-bg-danger" *ngIf="error.errors">
        <div *ngFor="let errorMessage of error.errors ">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <form [formGroup]="newBankAccountFormGroup">
      <div class="card-body border-white">
        <div class="mb-3">
          <label class="form-label fw-bold">Customer CIN : </label>
          <input type="text" formControlName="cin" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Initial balance : </label>
          <input type="number" min="100" formControlName="balance" class="form-control">
        </div>
        <div class="mb-3">
          <label class="form-label">Account currency : </label>
          <div>
            <select formControlName="currency" class="form-select form-select-sm mb-3"
                    aria-label=".form-select-lg example">
              <option value="MAD">MAD</option>
              <option value="EUR">EUR</option>
              <option value="USD">USD</option>
            </select>
          </div>

        </div>

        <div class="mb-3" *ngIf="bankAccountTypes">
          <label class="form-label fw-bold">Account type:</label>

          <div class="form-check" *ngFor="let at of bankAccountTypes">
            <input class="form-check-input" type="radio" formControlName="accountType" name="accountType"
                   id="{{at.type}}" [value]="at.id">
            <label class="form-check-label" for="{{at.type}}">{{at.type}}</label>
          </div>

        </div>
      </div>
    </form>
    <div class="card-footer bg-white border-white ">
      <div class="d-inline m-2">
        <button type="button" (click)="onSaveBankAccount()" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>

</div>

