<div class="container-fluid col-md-8 mt-3 border-white shadow p-3 bg-body rounded">
  <div class="card border-white bg-white mb-3" *ngIf="editCustomerFormGroup">
    <div class="row">
      <div class="h3 col-11 card-header bg-white fw-bolder border-white text-info">EDIT CUSTOMER</div>
      <div class="col-1">
        <button (click)="reload()" class="btn btn-outline-success btn-lg border-white"><span class="fa fa-refresh"></span></button>
      </div>
    </div>
    <div class="mt-2" *ngIf="error">
      <div class="text-danger fw-bold bg-white" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div  *ngIf="error.errors">
        <div class="text-danger bg-white" *ngFor="let errorMessage of error.errors ">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <form [formGroup]="editCustomerFormGroup" (ngSubmit)="onSaveCustomer()">
      <div class="card-body">
        <div class="row col-lg-12">
          <div class="mb-3 col-lg-6">
            <label class="form-label fw-bold text-info">First name : </label>
            <input type="text" formControlName="firstName" class="form-control">
          </div>
          <div class="mb-3 col-lg-6">
            <label class="form-label fw-bold text-info">Last name : </label>
            <input type="text" formControlName="lastName" class="form-control">
          </div>

          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label fw-bold text-info">CIN: </label>
              <input type="text" formControlName="cin" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label fw-bold text-info">Birth date : </label>
              <input type="date" formControlName="birthDate" class="form-control">
            </div>
          </div>
          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label fw-bold text-info">Email :</label>
              <input type="text" formControlName="email" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label fw-bold text-info">Phone number :</label>
              <input type="text" formControlName="phoneNumber" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label fw-bold text-info">Address :</label>
            <input type="text" formControlName="address" class="form-control">
          </div>
          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label fw-bold text-info">City :</label>
              <input type="text" formControlName="city" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label fw-bold text-info">Country :</label>
              <select formControlName="countryCode" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                <option value="MAR">MAR</option>
                <option value="FRA">FRA</option>
                <option value="USA">USA</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer border-white bg-white mt-2">
          <button (click)="onSaveCustomer()" type="button" class="btn btn-outline-primary">Save</button>        </div>
      </div>
    </form>
  </div>
</div>
