<div class="container">
  <div class="card col-md-6 offset-3 mt-3 mb-3" *ngIf="editCustomerFormGroup">
    <div class="card-header">Edit customer :</div>
    <div class="text-bg-danger" *ngIf="error">
      <div class="bg-danger fw-bold" *ngIf="errorMessage">
        {{errorMessage}}
      </div>
      <div  *ngIf="error.errors">
        <div class="text-bg-danger" *ngFor="let errorMessage of error.errors ">
          {{errorMessage}}
        </div>
      </div>
    </div>
    <form [formGroup]="editCustomerFormGroup" (ngSubmit)="onSaveCustomer()">
      <div class="card-body">
        <div class="row col-lg-12">
          <div class="mb-3 col-lg-6">
            <label class="form-label">First name : </label>
            <input type="text" formControlName="firstName" class="form-control">
          </div>
          <div class="mb-3 col-lg-6">
            <label class="form-label">Last name : </label>
            <input type="text" formControlName="lastName" class="form-control">
          </div>

          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label">CIN: </label>
              <input type="text" formControlName="cin" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Birth date : </label>
              <input type="date" formControlName="birthDate" class="form-control">
            </div>
          </div>
          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label">Email :</label>
              <input type="text" formControlName="email" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Phone number :</label>
              <input type="text" formControlName="phoneNumber" class="form-control">
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Address :</label>
            <input type="text" formControlName="address" class="form-control">
          </div>
          <div class="row col-lg-12">
            <div class="mb-3 col-lg-6">
              <label class="form-label">City :</label>
              <input type="text" formControlName="city" class="form-control">
            </div>
            <div class="mb-3 col-lg-6">
              <label class="form-label">Country :</label>
              <select formControlName="countryCode" class="form-select form-select-sm mb-3" aria-label=".form-select-lg example">
                <option value="MAR">MAR</option>
                <option value="FRA">FRA</option>
                <option value="USA">USA</option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <button class="btn btn-success">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>
