
<div class="modal">
  <div class="modal-content">
    <div class="text-center">
      <img  style="height: 100px;width: 230px" src="assets/images/HPS.jpg">
    </div>

    <div>
      <div class="card border-white bg-white">
        <div *ngIf=" mode== 1" class="alert alert-danger">Bad credentials !!</div>
        <div class="card-body border-white bg-white">
          <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
            <div class="form-group">
              <label class="control-label  fw-bold" style="color :rgb(163, 163, 168);">Username :</label>
              <input type="text" name="username" class="form-control" ngModel>
            </div>
            <div class="form-group mt-1">
              <label class="control-label fw-bold" style="color :rgb(163, 163, 168);">Password :</label>
              <input type="password" name="password" class="form-control" ngModel>
            </div>
            <div  *ngIf="loading" class="text-center">
              <img style="height: 100px;width: 230px"  src="assets/images/loading.gif">
            </div>
              <button class=" text-white text-end mt-5 rounded-pill" style="background-color :rgb(163, 163, 168);" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
