

<div class="modal">
  <div class="modal-content">
    <div class="text-center">
      <img  style="height: 100px;width: 225px" src="assets/images/HPS.jpg">
    </div>
    <div>
      <div class="card border-white bg-white">
        <div *ngIf=" mode== 1" class="alert alert-danger">Bad credentials !!</div>
        <div class="card-body border-white bg-white">
          <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
            <div class="form-group">
              <label class="control-label text-info fw-bold">Username :</label>
              <input type="text" name="username" class="form-control" ngModel>
            </div>
            <div class="form-group mt-1">
              <label class="control-label text-info fw-bold">Password :</label>
              <input type="password" name="password" class="form-control" ngModel>
            </div>
              <button class="btn btn-primary text-white mt-5 rounded-pill" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
