<div class="container mt-2 ">
  <div class="card mb-3 border-white shadow p-3 bg-body rounded">
    <div class=" h3 card-header bg-white fw-bolder border-white text-info">BANK CUSTOMERS</div>
    <div class="text-bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <app-confirm-modal *ngIf="showConfirmModal" [title]="'Confirm Delete'" (confirm)="change($event)"></app-confirm-modal>
    <div *ngIf="customers" class="card-body ">
      <div class="row mt-5">
        <div class="col-11">
          <div *ngIf="searchFormGroup">
            <form [formGroup]="searchFormGroup" (ngSubmit)="onSearchCustomer()" class="col-md-6">
              <div class="input-group col align-self-end">
                <label class="input-group-text text-white bg-info">Keyword</label>
                <input type="text" formControlName="keyword" class="form-control" placeholder="PA25XXXX">
                <button class="btn btn-outline-info ">
                  <span class="bi bi-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-1">
          <button (click)="onGetCustomers()" class="btn btn-outline-success btn-lg border-white"><span class="fa fa-refresh"></span></button>
        </div>
      </div>
      <table class="table table-sm mt-2">
        <thead class="fw-bold text-info">
          <tr>
              <td>Full name</td>
              <td>CIN</td>
              <td>Email</td>
              <td>Phone number</td>
              <td>Address</td>
              <td>Bank accounts</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers  | paginate: { itemsPerPage: 7, currentPage: p }" >

              <td>{{customer.firstName+" "+ customer.lastName}}</td>
              <td>{{customer.cin}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.phoneNumber}}</td>
              <td>{{customer.address}}</td>
              <td><a routerLink="/customer-accounts/{{customer.id}}" >accounts</a></td>
              <td>
                <button (click)="onDeleteCustomer(customer.id)" class="btn btn-outline-danger border-white"><span class="bi bi-trash-fill"></span></button>
              </td>
              <td>
                 <button  (click)="onViewCustomer(customer)" class="btn btn-outline-primary border-white"><span class="bi bi-eye-fill"></span></button>
              </td>
              <td>
                <button  (click)="onEditCustomer(customer)" class="btn btn-outline-warning border-white"><span class="bi bi-pencil-fill"></span></button>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer border-white text-primary bg-white " align="center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>

