
<div class="container-fluid mt-2">
  <div class="card col-lg-12 mb-3 border-white shadow p-3 bg-body rounded">
    <div class="card-header bg-primary text-white fw-bold border-white">Bank accounts</div>
    <div class="text-bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div *ngIf="bankAccounts" class="card-body border-white">
      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="onSearchAccount()" class="col-md-6">
          <div class="input-group">
            <label class="input-group-text bg-primary text-white">RIB :</label>
            <input type="text" formControlName="rib" class="form-control" placeholder="XX885741666X">
            <button class="btn btn-info">
              <span class="bi bi-search"></span>
            </button>
          </div>
        </form>
      </div>
      <div *ngIf="!bankAccounts.length" class="bg-white text-danger text-center">
        no bank account
      </div>

      <table class="table table-responsive  mt-3" *ngIf="bankAccounts.length > 0">
        <thead class="fw-bold">
        <tr>
          <td>RIB</td>
          <td>Type</td>
          <td>Balance</td>
          <td>Currency</td>
          <td>Status</td>
          <td>Customer</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let account of bankAccounts | paginate: { itemsPerPage: 6, currentPage: p }" >
          <td>{{account.rib}}</td>
          <td>{{account.bankAccountType.type}}</td>
          <td>{{account.balance}}</td>
          <td>{{account.currency}}</td>
          <td>{{account.accountStatus}}</td>
          <td *ngIf="bankAccounts"><a routerLink="/view-customer/{{account.custId}}">customer</a></td>

          <td>
            <button  *ngIf="bankAccounts"(click)="onDeleteBankAccount(account.id)" class="btn btn-outline-danger border-white"><span class="bi bi-trash"></span></button>
          </td>
          <td>
            <button *ngIf="bankAccounts" (click)="onViewAccount(account.id)" class="btn btn-outline-primary border-white"><span class="bi bi-eye"></span></button>
          </td>
          <td>
            <button *ngIf="bankAccounts" (click)="onEditBankAccount(account.id)" class="btn btn-outline-warning border-white"><span class="bi bi-pen"></span></button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer border-white bg-white" align="center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    </div>
</div>


