<div class="container mt-2 ">
  <div class="card mb-3 border-white shadow p-3 rounded ">
    <div class=" h3 card-header bg-white fw-bolder border-white text-primary">APPLICATION USERS</div>
    <div class="text-bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <app-not-autorized-modal *ngIf="showNotModal" [title]="'Error 403: Unauthorized Access'" (confirm)="changeNote($event)"></app-not-autorized-modal>
    <div *ngIf="users" class="card-body ">
      <div class="row mt-3">
        <div class="col-11">
          <div *ngIf="searchFormGroup">
            <form [formGroup]="searchFormGroup" (ngSubmit)="onSearchUser()" class="col-md-6">
              <div class="input-group col align-self-end">
                <label class="input-group-text text-white bg-primary">Keyword</label>
                <input type="text" formControlName="keyword" class="form-control" placeholder="username">
                <button class="btn btn-outline-info ">
                  <span class="bi bi-search"></span>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-1">
          <button (click)="onGetUsers()" class="btn btn-success  border-white rounded-pill"><span class="fa fa-refresh"></span></button>
        </div>
      </div>
      <table class="text-center table table-responsive-sm mt-5">
        <thead class="fw-bold text-info">
        <tr>
          <td>ID</td>
          <td>Username</td>
          <td>Activated</td>
          <td>Roles</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users  | paginate: { itemsPerPage: 7, currentPage: p }">

          <td class="fw-bold">{{user.id}}</td>
          <td class="h3 fw-bold" >{{user.username}}</td>
          <td class="fw-bold">{{user.actived}}</td>
          <td *ngIf="user.roles">
            <ul *ngFor="let role of user.roles" class="list-group  list-group-flush">
              <li class="list-group-item p-0 m-0">
                <span [ngClass]="role.roleName =='USER'?'badge bg-success ':'badge bg-danger '">{{role.roleName.toLocaleLowerCase()}}</span>
              </li>
          </ul>
          </td>
          <td>
            <button (click)="onDeleteUser(user.id)" class="btn btn-outline-danger border-white"><span class="bi bi-trash-fill"></span></button>
            <button  (click)="onEditUser(user)" class="btn btn-outline-warning border-white"><span class="bi bi-pencil-fill"></span></button>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer border-white text-primary bg-white " align="center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>


