<div class="container mt-2">
  <div class="card">
    <div class="card-header">Customers</div>
    <div class="text-bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div *ngIf="customers" class="card-body">
      <div *ngIf="searchFormGroup">
        <form [formGroup]="searchFormGroup" (ngSubmit)="onSearchCustomer()">
          <div class="input-group">
            <label class="input-group-text">Keyword :</label>
            <input type="text" formControlName="keyword" class="form-control">
            <button class="btn btn-info">
              <span class="bi bi-search"></span>
            </button>
          </div>
        </form>
      </div>
      <table class="table table-bordered table-hover mt-3">
        <thead>
          <tr>
              <td>Id</td>
              <td>Name</td>
              <td>Email</td>
              <td>Address</td>
              <td>City</td>
              <td>Country</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers" >
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.city}}</td>
              <td>{{customer.countryCode}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

