<div class="container mt-2">
  <div class="card">
    <div class="card-header">Customers list</div>
    <div class="text-bg-danger" *ngIf="errorMessage">{{errorMessage}}</div>
    <div *ngIf="customers" class="card-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
              <td>Id</td>
              <td>Name</td>
              <td>Email</td>
              <td>Address</td>
              <td>City</td>
              <td>Country</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers" >
              <td>{{customer.id}}</td>
              <td>{{customer.name}}</td>
              <td>{{customer.email}}</td>
              <td>{{customer.Address}}</td>
              <td>{{customer.City}}</td>
              <td>{{customer.Country}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer"></div>
  </div>
</div>

